{% extends base_template %}

{% block main_section %}
    <div class="container extra-large-margin-bottom">
        <h1 class="title">Privacy Policy</h1>
        <p>
            This Privacy Policy explains how information about you is collected, used and disclosed by Mythdoor, Inc. (hereafter “Mythdoor”, “our,” “we,” or “us”).
            This Privacy Policy applies to information we collect when you use our website, mobile applications and other online services (collectively, the “Mythdoor Service”) or when you otherwise interact with us.
        </p>
        <p>
            We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with more prominent notice (such as adding a statement to our homepage or sending you an email notification).
            We encourage you to review the Privacy Policy whenever you access the Mythdoor Service to stay informed about our information practices and the ways you can help protect your privacy.
        </p>
        <p>
            Note: Mythdoor is piloting a new electronic payments solution that is only available to certain users. As a result, some of the provisions of this privacy policy related to the payments solution may not apply to all users.
        </p>
        <h4>Collection of Information</h4>
        <p>
            1. <strong>Information You Provide to Us.</strong>
            Mythdoor collects information that you provide directly to us. For example, we collect information when you register or update the details of your account, post information in order to sell any good through the Mythdoor Service, enroll in any third-party operated payment processing services offered in connection with the Mythdoor Service, communicate with other users, provide reviews or other comments, request customer support or otherwise communicate with us.
            The types of information we may collect include your company email address, Mythdoor account password, written descriptions of your posted goods, all correspondence or communications with other users or with us conducted via the Mythdoor Service, and any other information you choose to provide.
        </p>
        <p>
            2. <strong>Information We Collect Automatically When You Use the Mythdoor Service.</strong>
            When you access or use the Mythdoor Service, we automatically collect information about you, including:
        </p>
        <p>
            2.1. <strong>Log Information:</strong>
            We log information about your use of the Mythdoor Service, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Mythdoor Service.
        </p>
        <p>
            2.2. <strong>Device Information:</strong>
            We collect information about the computer or mobile device you use to access the Mythdoor Service, including the hardware model, operating system and version, unique device identifiers and mobile network information.
        </p>
        <p>
            2.3. <strong>Location Information:</strong>
            If you consent to the collection of location information from your computer or mobile device, we may collect this information when you access or use the MythdoorService, or when you otherwise consent to the collection of this information. We may also use your IP address to infer an approximate geographic location for your computer or device. For more details, please see “Your Information Choices” below.
        </p>
        <p>
            2.4. <strong>Information Collected by Cookies and Other Tracking Technologies:</strong>
            We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that helps us to improve the Mythdoor Service and your experience, see which areas and features of the Mythdoor Service are popular and count visits.
            We may also collect information using web beacons (also known as “gifs,” “pixel tags” and “tracking pixels”). Web beacons are electronic images that may be used in the Mythdoor Service or emails and help deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon. For more information about cookies, and how to disable them, please see “Your Information Choices” below.
        </p>

        <h4>Use of Information.</h4>
        <p>5. <strong>General Uses.</strong> Mythdoor uses information about you for various purposes, including to:</p>
        <p>5.1. Enable you to access and use the Mythdoor Service, to personalize the Mythdoor Service, and to optimize the type of offers presented to you when you use the Mythdoor Service;</p>
        <p>5.2. Create and maintain a trusted and safer environment on the Mythdoor Service, including through detection and prevention of fraud, unauthorized access, intrusion, and service interruption;</p>
        <p>5.3. Conduct investigations and to respond to disputes between users, error resolution, and other similar customer support service;</p>
        <p>5.4. Enable any identification programs we may institute and in which you elect to participate (e.g. TruYou), such as verifying your identity and address, and conduct checks against various publicly available databases;</p>
        <p>5.5. Operate, protect, improve and optimize the Mythdoor Service, our business, and our users’ experience;</p>
        <p>5.6. Perform analytics, conduct research, and monitor and analyze trends, usage and activities in connection with the Mythdoor Service;</p>
        <p>5.7. Communicate with you about products, services, offers, promotions, rewards, and events offered by Mythdoor and others, and provide advertisements that match user profiles or interests, news and information we think will be of interest to you;</p>
        <p>5.8. Send you service, support and administrative messages, reminders, technical notices, updates, security alerts, and information requested by you;</p>
        <p>5.9. Comply with our legal obligations or requests from law enforcement agencies, resolve any disputes that we may have with any of our users, and enforce our agreements with third parties;</p>
        <p>5.10. Link or combine with information we get from others to help understand your needs and provide you with better service;</p>
        <p>5.11. Assist third-party payment processors with transaction processing, error, chargeback and disputed transaction resolution, and similar payment processing functions; and</p>
        <p>5.12. Carry out any other purpose for which the information was collected.</p>
        <p>Mythdoor is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Mythdoor Service or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.</p>

        <h4>Sharing of Information.</h4>
        <p>6. <strong>General.</strong> We may share information about you as follows or as otherwise described in this Privacy Policy:</p>
        <p>6.1. With the public on the Mythdoor Service. For a detailed description of the type of information associated with your Mythdoor account that is made available publicly through the Mythdoor Service, please see our <a class="alt" href="/support/?return_to=/hc/en-us/articles/205596725" target="_self">FAQs</a>.</p>
        <p>6.2. With vendors, consultants and other service providers who need access to such information to carry out work on our behalf (including without limitation with third-party service providers that may help us to detect inaccurate or fraudulent personal identification documents and related information);</p>
        <p>6.3. In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or legal process, or as otherwise required by any applicable law, rule or regulation;</p>
        <p>6.4. If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property and safety of Mythdoor or others;</p>
        <p>6.5. In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business to another company;</p>
        <p>6.6. Between and among Mythdoor, and its current and future parents, affiliates, subsidiaries, and other companies under common control and ownership; and</p>
        <p>6.7. With your consent or at your direction, including if we notify you through the Mythdoor Service that the information you provide will be shared in a particular manner and you provide such information.</p>
        <p>We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.</p>

        <h4>Advertising and Analytics Services Provided by Others</h4>
        <p>
            8. We may allow others to serve advertisements on our behalf across the Internet and to provide analytics services. These entities may use cookies, web beacons and other technologies to collect information about your use of the Mythdoor Service and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information.
            This information may be used by Mythdoor and others to, among other things, analyze and track data, determine the popularity of certain content, deliver advertising and content targeted to your interests on the Mythdoor Service and other websites and better understand your online activity.
            For more information about interest-based ads, or to opt out of having your web browsing information used for behavioral advertising purpose,
            please visit <a href="http://www.networkadvertising.org/choices/" class="alt" rel="nofollow" target="_blank">http://www.networkadvertising.org/choices/</a> and <a href="http://www.aboutads.info/choices/" class="alt" rel="nofollow" target="_blank">http://www.aboutads.info/choices/</a>.
        </p>

        <h4>Security</h4>
        <p>
            9. Mythdoor takes reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.
        </p>

        <h4>Your Choices</h4>
        <p>10. <strong>Account Information.</strong> You may update, correct or delete information about you at any time by logging in to your account. If you would like to cancel your Mythdoor account entirely, please contact us, and enter your request for cancellation, but please note that we may retain certain information as required by law or for legitimate business purposes. For example, any reviews, forum postings and similar materials posted by you may continue to be publicly available on the Mythdoor Service in association with your account name even after your Mythdoor account is cancelled. We may also retain cached or archived copies of information about you for a certain period of time.</p>
        <p>11. <strong>Location Information.</strong> When you first download or launch any of our mobile applications that collect location information or first use any features that use location information, you will be asked to consent to the application’s collection of this information. If you initially consent to our collection of location information, you can subsequently stop the collection of this information at any time by changing the preferences on your mobile device. You may also stop our collection of location information by following the standard uninstall process to remove all of our mobile applications form your device.</p>
        <p>Even if you do not provide us with consent to collect precise location information from your mobile device or platform, we may use your IP address to infer an approximation of your location when using certain features of the Mythdoor Services, such as the Mythdoor payments solution.</p>
        <p>12. <strong>Cookies.</strong> Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Removing or rejecting browser cookies does not necessarily affect third party flash cookies used in connection with the Mythdoor Service. To delete or disable flash cookies please visit <a href="http://www.adobe.com/products/flashplayer/security" class="alt word-break" rel="nofollow" target="_blank">www.adobe.com/products/flashplayer/security</a> for more information. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of the Mythdoor Service.</p>
        <p>13. <strong>Promotional Communications.</strong> You may opt out of receiving promotional emails, text messages, and other communications from Mythdoor by following the instructions in those emails, text messages or other communications or by logging on to your Mythdoor account and going to Settings.</p>

        <h4>Questions and Comments.</h4>
        <p>
            If you’d like to provide feedback to us about this Privacy Policy, or if you have any questions, please contact us at <a href="mailto:support@mythdoor.com" class="disabled nowrap">support@mythdoor.com</a>.
        </p>

    </div>

{% endblock %}