<div class="modal fade" id="complete_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="complete_post_form" method="POST" action='/post/complete'>{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Congratulation!</h4>
                </div>
                <div class="modal-body">
                    <p class='medium-text'>
                        We're glad that you have completed your post successfully. Do you want to give some feedback about your transaction?
                    </p>
                    <div class='action-section align-center medium-margin-top'>
                        <p>
                            <button type="button" class="btn btn-primary btn-lg" id="proceed_transaction_feedback_btn">Yes, I would love to give feedback</button>
                        </p>
                        <p>
                            <input type='hidden' id="complete_post_unique_id" name="post_unique_id" value="{{post.unique_id}}"/>
                            <input type='submit' class='btn btn-default btn-lg' value="No, just complete it"/>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>