<div class="modal fade" id="delete_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="delete_post_form" method="POST">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Delete Post</h4>
                </div>
                <div class="modal-body">
                    <p class='medium-text'>
                        Are you sure that you want to delete this post?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type='hidden' id='delete_post_unique_id' value="" />
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" id="delete_post_final_btn" class="btn btn-danger btn-sm">
                        Yes, delete it
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>