<div class="modal fade" id="report_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Report Post</h4>
            </div>
            <div class="modal-body">
                <p>Please tell us your problem with this post</p>
                <textarea id="report_post_input" class="form-control" rows='5'></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="report_post_final_btn" class="btn btn-primary btn-sm" data-dismiss="modal" disabled="disabled">Submit</button>
            </div>
        </div>
    </div>
</div>