body {
	background: url("../resources/img/gp-body.gif") repeat scroll center top transparent;
}

#auth_section {
	margin-top:30px;
}


@media screen and (min-width: 980px) /* Desktop */ {
	#auth_section {
		padding-left:150px;
	    padding-right:150px;
	}

	#auth_section #password_reset_section {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media screen  and (max-width: 979px) /* Tablet */ {
	#auth_section {
		padding-left:100px;
	    padding-right:100px;
	}
}

@media screen and (max-width: 500px) /* Mobile */ {
	#auth_section {
	    padding-left:20px;
	    padding-right:20px;
	}
}

#forgot_password_link {
	font-size:12px;
}

#auth_section #info_section {
	/*width: 600px;*/
    text-align: center;
    line-height: 1.8;
    margin-top:20px;
    font-size:14px;
}

#auth_section .panel-heading {
	font-weight:bold;
	font-size:14px;
}

#auth_section .panel-body {
	padding: 15px 30px 5px 30px;
}

/*#login_section {
	width:550px;
}*/

#login_section .panel {
	margin-bottom:15px;
}

#signup_section {
	/*width: 550px;*/
	margin-top:15px;
}

.errorlist {
	color: red;
}

#signup_complete_form > ul.errorlist,
#login_form > ul.errorlist {
	margin-bottom:10px;
	text-align: center;
}

#instruction_section {
	/*width: 550px;*/
	margin-bottom:15px;
}

#instruction_section .panel-body {
	padding-bottom:15px;
}

#divider_section h5 {
	margin-top:0px;
	margin-bottom:0px;
}

/*#signup_complete_section {
	width:550px;
}*/

#signup_complete_section .panel-body {
	padding-left:10px;
}

.password-section label.error {
	margin-top: 6px;
}

#check_company_email_section label.error {
	float:right;
}
