body {
	background: url("../resources/img/gp-body.gif") repeat scroll center top transparent;
}

.panel-default > .panel-heading {
	background-color: white;
}

#display_section {
	margin-top:30px;
	margin-bottom:60px;
	position:relative;
}

#display_section .page-normal {
	float:left;
}

#display_section .grid-item {
	width: 200px;
	margin:14px 7px 0 7px;
	float:left;
}

#display_section li.category-item {
	margin-top:8px;
}

#display_section li.category-item.first {
	margin-top:0px;
}

#display_section a.category-item-link {
	color: #333;
	font-size:16px;
	margin-left:8px;
	text-decoration: none;
}

#display_section ul.subcategory-list {
	margin-left:24px;
	display:none;
}

#display_section li.subcategory-item {
	margin-top: 5px;
}

#display_section a.subcategory-item-link {
	font-size: 13px;
	color: #585858;
	text-decoration: none;
}

#display_section a.category-item-link:hover,
#display_section a.subcategory-item-link:hover,
#display_section a.category-item-link.active,
#display_section a.subcategory-item-link.active {
	font-weight: bold
}

#display_section .grid-item .item-info {
	padding:5px 8px;
}

#display_section .grid-item .item-info .item-title {
	font-size: 1.1em;
  	line-height: 1.3em;
  	font-weight: 500;
}

#display_section .grid-item .item-info .item-title a {
	color: #4a4a4a;
}

#display_section .grid-item .item-info .item-price {
  	font-size: 1.2em;
  	padding: 8px 0;
  	color: #969696;
  	font-weight: bold;
}

#display_section .grid-item .thumbnail img {
	width:100% !important;
}

#display_section .grid-item .item-owner {
	border-top: 1px solid #d8d8d8;
	background-color: #f9f9f9;
	color:#4a4a4a;
	padding:10px 8px;
}

#display_section #load_more_btn .glyphicon-repeat {
	top:2px;
}

#display_section #no_post_item_section {
	text-align: center;
  	position: absolute;
  	top: 100px;
  	width: 100%;
  	z-index:-1;
}

#intro_section .slogan-text {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 30%;
	z-index: 3;
	color: white;
	text-align: center;
}

#intro_section .slogan-text a.help-link {
    background: rgba(255,255,255,0.5);
    border-style: none;
    color: white;
    margin-top:15px;
    cursor: pointer;
    margin-top:15px;
}

#intro_section .slogan-text h1 {
	font-size: 48px;
	font-weight: 900;
}

#intro_section #homepage_carousel img {
	width: 100%;
	height:500px;
}

#intro_section #mask_area {
	background: #000;
	background: rgba(0,0,0,0.4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	position: absolute;
	top:0px;
	left: 0;
	right: 0;
	height:500px;
}

#intro_section #search_area {
	background: #000;
	background: rgba(0,0,0,0.7);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

#intro_section #search_form input#search_query {
	width:280px;
	height:40px;
	float:left;
	border-left: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
   	font-size:16px;
}


#intro_section #search_form input#search_location {
	margin-left:-1px;
	width:200px;
	height:40px;
	float:left;
   	border-radius: 0;
   	-webkit-appearance: none;
   	font-size:16px;
}

#intro_section #search_form select {
	width:150px;
	height:40px;
	float:left;
	border-left: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
   	font-size:16px;
}

#intro_section #search_btn {
	width:100px;
	height:40px;
	border-radius:0px;
	font-size:16px;
}

#header_menu_section {
	position:absolute;
	z-index:100;
	width:100%;
}

#header_menu_section a {
	color:white;
}

#header_menu_section a:hover {
	background: transparent;
}

#header_menu_section .navbar-brand {
	margin-top:4px;
	font-size:20px;
}

#header_menu_section .navbar-right {
	font-size:15px;
	margin-right:10px;
}
#header_menu_section .navbar-right #manage_post a,
#header_menu_section .navbar-right #logout a,
#header_menu_section .navbar-right #login a,
#header_menu_section .navbar-right #signup a{
	margin-top:6px;
}


@media screen and (max-width: 767px) {
	#display_section {
		margin-top:20px;
	}

	#display_section .grid-item {
		width:45%;
		margin:0px 5px 10px 5px;
	}

	#display_section .grid-item .panel {
		margin-bottom:0px;
	}

	#display_section #no_post_item_section {
		width:45%;
		padding-top: 100px;
    	padding-bottom: 100px;
    	position: absolute;
	    right: 0px;
	    top: 0px;
	}

  	#intro_section #search_form {
  		margin-top:0px;
	    padding:0px 25px;
	    border:none;
	    margin-bottom: 0px;
	    -webkit-box-shadow: none;
    			box-shadow: none;
  	}

  	#intro_section #search_form input#search_query {
  		width:100%;
  		float:left;
  	}

  	#intro_section #search_form input#search_location {
  		width:50%;
  		margin-top:6px;
  		float:left;
  		margin-left:0px;
  	}

  	#intro_section #search_form #search_category {
  		width:50%;
  		margin-top:6px;
  		float:right;
  	}

  	#intro_section #search_form #search_btn {
  		width:100%;
  		margin-top:6px;
  	}

  	#intro_section .slogan-text {
  		top:20%;
  	}
}


/*.centered-within-wrapper {
    width: 750px
}*/

/*.centered-within-wrapper.grid-width {
    width: 736px
}*/

@media (min-width: 875px) and (max-width: 1075px) {
    .centered-within-wrapper {
        width: 875px
    }
}

@media (min-width: 1075px) and (max-width: 1300px) {
    .centered-within-wrapper {
        width: 1075px
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {
    .centered-within-wrapper {
        width: 1300px
    }
}

@media (min-width: 1500px) and (max-width: 1725px) {
    .centered-within-wrapper {
        width: 1500px
    }
}

@media (min-width: 1725px) and (max-width: 1949px) {
    .centered-within-wrapper {
        width: 1725px
    }
}

@media (min-width: 1950px) and (max-width: 2150px) {
    .centered-within-wrapper {
        width: 1950px
    }
}

@media (min-width: 2150px) and (max-width: 2374px) {
    .centered-within-wrapper {
        width: 2150px
    }
}

@media (min-width: 2375px) and (max-width: 2574px) {
    .centered-within-wrapper {
        width: 2375px
    }
}

@media (min-width: 2574px) {
    .centered-within-wrapper {
        width: 2574px
    }
}


.centered-within-wrapper {
  margin: 0 auto;
}
