{% for post in posts %}
	<div class='grid-item'>
		<div class="panel panel-default">
			<div class='item-picture'>
				<a class='thumbnail' href='/post/{{post.unique_id}}'>
					{% if post.main_photo %}
						<img class='lazy' data-original='{{get_image_url(post.main_photo.unique_id,200,None,"fit")}}' width='200'/>
					{% else %}
						<img src='holder.js/200x200?theme=gray&text=No Image' class='holder-image'/>
					{% endif %}	
				</a>
			</div>
			<div class='item-info'>
				<div class='item-title'>
					<a href='/post/{{post.unique_id}}'>{{post.title}}</a>
				</div>
				<div class='item-price'>
					{% if post.price %}
	          			{{post.price}}
	          		{% else %}
	          			Negotiable
	          		{% endif %}
				</div>
				<div class='item-place'>
					{{post.city}}, {{post.state}} {{post.postal_code}} 
				</div>
			</div>
			<div class='item-owner'>
				<span>from <span class='bold'>{{post.user_create_display_credential}}</span></span>
			</div>
		</div>
	</div>
{% endfor %}