<p class='medium-text'>
    Please rate your interest buyer who have contacted you. 
</p>
<div class='row'>
    <ul class='list-group'>
    	{% for conversation in conversations %}
			<li class='interest-buyer-item list-group-item' data-unique-id="{{conversation.unique_id}}">
				<div class='row'>
					<span class='bold'>
					{% if conversation.user1 == user_login %}
						{{conversation.user2.userprofile.credential.get_display_credential()}} ({{conversation.user2.userprofile.initial|initial}})
					{% else %}
						{{conversation.user1.userprofile.credential.get_display_credential()}} ({{conversation.user1.userprofile.initial|initial}})
					{% endif %}
					</span>
				</div>
				<div class='row mini-margin-top'>
					<span class='bold'>Last Message:</span> {{shorten_content(conversation.latest_message.content,50)}}
				</div>
				<div class='row mini-margin-top'>
					<span class='bold'>Rating:</span>
					<span class='interest-buyer-rating'></span>		
				</div>
				<div class='row mini-margin-top'>
					<span class='bold'>Comment (optional):</span>
					<textarea class='mini-margin-top form-control feedback-comment' rows='2'></textarea>
				</div>
				<input type='hidden' class='feedback-unique-id' value=''/>
			</li>
		{% endfor %}
    </ul>
</div>

