<!DOCTYPE html>
<html>
<head>

    {% block title %}
        <title> {{SITE_NAME|title}}</title>
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{SITE_KEYWORDS}}" />        
        <meta name="description" content="{{SITE_DESCRIPTION}}" />
        <meta name="robots" content="index,follow" />

        <meta property="og:site_name" content="{{SITE_NAME}}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{SITE_URL}}">
        <meta property="og:title" content="{{SITE_TITLE}}">
        <meta property="og:description" content="{{SITE_DESCRIPTION}}">
    {% endblock %}

    <link rel="icon" href="{{static('img/ico/favicon.ico')}}" type="image/x-icon" />

    {{load_css()|safe}}

    {% block header_css %}
    {% endblock %}

    {% block header_scripts %}
    {% endblock %}

</head>
<body class="layout-base {% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">

    {% block header %} 
        {% include ["sites/common/header" + TEMPLATE_FILE_EXTENSION] ignore missing %}
    {% endblock %}  

    {% block content %} 
        {% if request_message %}
            {{ request_message }}
        {% endif %}
        
        <div id='alert_message' data-spy="affix" data-offset-top="48">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class='message-content'></span>
        </div>

        <div id='main_section'>
            {% block main_section %}
            {% endblock %}
        </div>

        <div id="scroll_top_btn" class="hide">
            <div class="wrapper">
                <div class='sprite-go-top-icon pointer-cursor'></div>
            </div>
        </div> 
    {% endblock %} 

    {% block footer %}
        {% include ["sites/common/footer" + TEMPLATE_FILE_EXTENSION] ignore missing %}
    {% endblock %}

    <div id='modal_section'> 
        {% block modal %}
        {% endblock %}
    </div>

    <div id="hidden_section">
        {% if user_login %}
            <input type='hidden' id='is_user_login' value="True">
            <input type='hidden' id='user_login_username' value='{{user_login.username}}'>
        {% else %}
            <input type='hidden' id='is_user_login' value='False'>
        {% endif %}

        <input type='hidden' id='current_lat' value='{{current_lat}}'/>
        <input type='hidden' id='current_lng' value='{{current_lng}}'/>
        <input type='hidden' id='current_city' value='{{current_city}}'/>
        <input type='hidden' id='current_country' value='{{current_country}}'/>
        <input type='hidden' id='current_country_code' value='{{current_country_code}}'/>
        <input type='hidden' id='current_postal_code' value='{{current_postal_code}}'/>

        <input type='hidden' id='static_url' value="{{STATIC_URL}}"/>

        <input type='hidden' id="page_type" value="{{page_type}}"/>
        <input type='hidden' id='template_type' value='{{template_type}}'/>
        
        {% block hidden %}
        {% endblock %}     

    </div>
       
    
    {% block footer_script %} 

        <script src='https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.min.js'></script>
        <script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAbG_5PjaJLSL9JyzBgs2VHcbKpGh3FNn0&libraries=places'></script>

        {% block footer_plugin_scripts %}{% endblock %}

        {% block footer_external_scripts %} {% endblock %}

        {{load_js()|safe}}

        {% block footer_custom_scripts %} {% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-72946364-1', 'auto');
            ga('send', 'pageview');
        </script>
        
    {% endblock %}

</body>
</html>
