<div class="mythdoor footer page-normal" id="footer">
    <div class="row footer-row-1">
        <div class='container'>
            <div class='pull-left'>
                <span>© Copyright 2016 Mythdoor. All Rights Reserved.</span>
            </div>
            <div class='pull-right'>
                <span><a href='{{url("about")}}'>About</a></span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{url("term")}}'>Terms</a></span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{url("safety")}}'>Safety</a></span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='{{url("privacy")}}'>Privacy</a></span>
                <span class='small-margin-left small-margin-right'>|</span>
                <span><a href='mailto:support@mythdoor.com'>Contact</a></span>
            </div>
        </div>
    </div>
</div>

<div class="mythdoor footer page-responsive" id="footer">
    <div class="container" >
        <div class='row footer-row-1'>
            <span class='mini-margin-left mini-margin-right'><a href='{{url("about")}}'>About</a></span>
            <span class='mini-margin-left mini-margin-right'><a href='{{url("term")}}'>Terms</a></span>
            <span class='mini-margin-left mini-margin-right'><a href='{{url("safety")}}'>Safety</a></span>
            <span class='mini-margin-left mini-margin-right'><a href='{{url("privacy")}}'>Privacy</a></span>
            <span class='mini-margin-left mini-margin-right'><a href='mailto:support@mythdoor.com'>Contact</a></span>
        </div>
        <div class='row footer-row-2 div-center'>
            <span>© Copyright 2016 Mythdoor</span>
        </div>
    </div>
</div>