<div class="navbar navbar-default" id="header">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_navbar_collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
            <a class="navbar-brand" href="{{url('home')}}">{{SITE_NAME_INITIAL}}</a>
        </div>

        <div class="collapse navbar-collapse" id="header_navbar_collapse">
            {% if is_show_header_search %}
            <ul class='nav navbar-nav'>
                <li>
                    <form id="search_form" name="search_form" action="/search/" method="get" class="navbar-form" role="search" autocomplete='off'>
                        <input type="text" id="search_query" name='q' placeholder="Search Item Keyword"  class='form-control'/>
                        <input type='text' id='search_location' placeholder='Location' class='form-control'/>
                        <input type='hidden' name='distance_range' value='{{DEFAULT_DISTANCE_RANGE}}'/>
                        <input type='hidden' name='lat' value=''/>
                        <input type='hidden' name='lng' value=''/>
                        <input type='hidden' name='location' value=''/>
                        <button type='submit' id='search_btn' class='btn btn-sm'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </li>
            </ul>
            {% endif %}

            {% if user_login %}

                <ul class="nav navbar-nav navbar-right">

                    <li class='header-item pointer-cursor'>
                        <a href="{{url('create_post')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Add New Post
                            </div>
                        </a>            
                    </li>
                     
                    <li class='header-item pointer-cursor'>
                        <a href="{{url('message_dashboard')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <span class='glyphicon glyphicon-envelope' aria-hidden="true"></span>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Message 
                            </div>
                            {% if new_selling_messages_count + new_buying_messages_count > 0 %}
                                <div class='pull-left new-messages-count mini-margin-left'>({{new_selling_messages_count + new_buying_messages_count}})</div>
                            {% endif %}
                        </a>            
                    </li>
                    <li class="dropdown header-item pointer-cursor">

                        <a class="dropdown-toggle row" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class='initial-circle small-margin-right pull-left'>
                                {{user_login.userprofile.initial|first_char_only}}
                            </div>
                            <div class='pull-left'>
                                {{user_login.userprofile.credential.get_simple_display_credential()}}
                            </div>
                        </a>
                        <ul id="user_profile_menu" class="dropdown-menu">
                            <li><a href="{{url('post_dashboard')}}">Manage Post</a></li>
                            <li><a href="{{url('account_credential_dashboard')}}">Account Credential</a></li>
                            <li><a href="{{url('settings_dashboard')}}">Settings</a></li>
                            <li class='last'><a href="{{url('logout')}}">Log Out</a></li>
                        </ul>        
                    </li>
                    
                </ul>

            {% else %}

                <ul class="nav navbar-nav navbar-right">

                    <li class='header-item pointer-cursor' id="post_ad_btn"> 
                        <a href="{{url('create_post')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Add New Post
                            </div>
                        </a>            
                    </li>

                    <li class='header-item pointer-cursor' id="login"> 
                        <a href="{{url('login')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Account
                            </div>
                        </a>            
                    </li>

                </ul>

            {% endif %}

        </div>

    </div>
</div>