{% extends base_template %}

{% block header %}
<div class="navbar navbar-default page-responsive" id="header">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_navbar_collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
            <a class="navbar-brand" href="{{url('home')}}">{{SITE_NAME_INITIAL}}</a>
        </div>

        <div class="collapse navbar-collapse" id="header_navbar_collapse">

            {% if user_login %}

                <ul class="nav navbar-nav navbar-right">

                    <li class='header-item pointer-cursor'>
                        <a href="{{url('create_post')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Add New Post
                            </div>
                        </a>            
                    </li>
                     
                    <li class='header-item pointer-cursor'>
                        <a href="{{url('message_dashboard')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <span class='glyphicon glyphicon-envelope' aria-hidden="true"></span>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Message 
                            </div>
                            {% if new_selling_messages_count + new_buying_messages_count > 0 %}
                                <div class='pull-left new-messages-count mini-margin-left'>({{new_selling_messages_count + new_buying_messages_count}})</div>
                            {% endif %}
                        </a>            
                    </li>
                    <li class="dropdown header-item pointer-cursor">

                        <a class="dropdown-toggle row" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class='initial-circle small-margin-right pull-left'>
                                {{user_login.userprofile.initial|first_char_only}}
                            </div>
                            <div class='pull-left'>
                                {{user_login.userprofile.credential.get_simple_display_credential()}}
                            </div>
                        </a>
                        <ul id="user_profile_menu" class="dropdown-menu">
                            <li><a href="{{url('post_dashboard')}}">Manage Post</a></li>
                            <li><a href="{{url('account_credential_dashboard')}}">Account Credential</a></li>
                            <li><a href="{{url('settings_dashboard')}}">Settings</a></li>
                            <li class='last'><a href="{{url('logout')}}">Log Out</a></li>
                        </ul>        
                    </li>
                    
                </ul>

            {% else %}

                <ul class="nav navbar-nav navbar-right">

                    <li class='header-item pointer-cursor' id="post_ad_btn"> 
                        <a href="{{url('create_post')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Add New Post
                            </div>
                        </a>            
                    </li>

                    <li class='header-item pointer-cursor' id="login"> 
                        <a href="{{url('login')}}" class='row'>
                            <div class='pull-left message-icon'>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class='pull-left small-margin-left'>
                                Account
                            </div>
                        </a>            
                    </li>

                </ul>

            {% endif %}

        </div>

    </div>
</div>

{% endblock %}

{% block main_section %}
<div id="header_menu_section" class='navbar page-normal'>

	<div class='navbar-inner'>
    	<div class="container-fluid">

    		<div class="navbar-header">
    			<a class="navbar-brand" href="{{url('home')}}">
    				{{SITE_NAME|upper}}
    			</a>
    		</div>

			{% if user_login %}

				<ul class="nav navbar-nav navbar-right">
					 
					<li class='header-item pointer-cursor' id="manage_post">
						<a href="{{url('post_dashboard')}}" >
							Dashboard
						</a>            
					</li>

					<li class='header-item pointer-cursor' id="post_ad_btn">
						<a href="{{url('create_post')}}">
							<btn class='btn btn-default btn-primary'>
								Add New Post
							</btn>
						</a>            
					</li>

				</ul>

			{% else %}

				<ul class="nav navbar-nav navbar-right">

					<li class='header-item pointer-cursor' id="post_ad_btn"> 
						<a href="{{url('create_post')}}">
							<btn class='btn btn-default btn-primary'>
								Add New Post
							</btn>
						</a>            
					</li>

					<li class='header-item pointer-cursor' id="signup"> 
						<a href="{{url('login')}}" >
							Signup
						</a>            
					</li>
					 
					<li class='header-item pointer-cursor' id="login"> 
						<a href="{{url('login')}}" >
							Login
						</a>            
					</li>

				</ul>

			{% endif %}
		</div>
	</div>
	
</div>


<div id='intro_section' class="pos-relative">

	<div class="slogan-text">
		<h2>Buy And Sell Securely With Local Trusted Connections</h2>
		<!-- <a class="btn btn-default btn-lg help-link">
          	How It Works
        </a> -->
	</div>

	<div id="homepage_carousel">
		<img data-original="{{static('img/apps/body/cover2-min.jpg')}}"/>
	</div>
	<div id="mask_area"></div>

	<div id="search_area">
		<div class="wrapper div-center">
			<form id="search_form" name="search_form" action="/search/" method="get" class="navbar-form" role="search" autocomplete='off'>
				<input type="text" id="search_query" name='q' placeholder="Search Item Keyword"  class='form-control'/>
				<!-- <input type='text' id='search_postal_code' size='5' name='postal_code' value='{% if current_postal_code %} {{current_postal_code}} {% endif %}' placeholder='Zip' class='form-control'/> -->
               	<input type='text' id='search_location' placeholder='Location' class='form-control'/>
               	<select id='search_category' name="category" class='form-control'>
					<option value="" disabled selected>Category</option>
					{% for category_key,category_value in category_info_map.iteritems() %}
						<option value='{{category_key}}'>{{category_value.0}}</option>
					{% endfor %}
				</select>
				<input type='hidden' name='distance_range' value="{{DEFAULT_DISTANCE_RANGE}}"/>
                <input type='hidden' name='lat' value=''/>
                <input type='hidden' name='lng' value=''/>
                <input type='hidden' name='location' value=''/>
				<input type="submit" class="btn btn-default btn-primary" id="search_btn" value="Search"/>
			</form>
		</div>
	</div>

</div>


<div id="display_section" >

	<div class='grid centered-within-wrapper'>
		<div class='grid-item'>
			<div class="panel panel-default">
				<div class='panel-heading'>
					<span class='bold'>Ads near {{current_city}}, {{current_postal_code}}</span>
				</div>
				<div class='panel-body'>
					<ul class='category-list'>
						{% for category_key,category_value in category_info_map.iteritems() %}
							<li class='category-item {% if loop.index == 1 %} first {% endif %}'>
								<i class='fa {{category_value.1}} fa-2 page-normal'></i>
								<a class='category-item-link' data-value='{{category_key}}'>{{category_value.0}}</a>
								{% for subcategory_key,subcategory_value in subcategory_map.iteritems() %}
									{% if category_key == subcategory_key and subcategory_value %}
										<ul id="{{category_key}}_subcategory_list" class='subcategory-list'>
											{% for item in subcategory_value %}
												<li class='subcategory-item'>
													<a class='subcategory-item-link' data-value='{{item.0}}'>{{item.1}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								{% endfor %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
    </div>
    <div class='align-center hidden' id='load_more_btn_container'>
        <button class='btn btn-default' id='load_more_btn'>
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            <span class='mini-margin-left'>Load More</span>
        </button>
    </div>

</div>              
{% endblock %}

{% block hidden %}
	<input type='hidden' id='selected_category' value='all'/>
	<input type='hidden' id='selected_subcategory' value='all'/>
	<input type='hidden' id='load_post_start_index' value='{{load_post_start_index}}'/>
{% endblock %}


