<div id='request_message' class="alert alert-success" role='alert'>
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
    <span>Your password has been changed successfully</span>
</div>