{% if conversation.user1 == user %}
	{% for message in conversation.user1_messages.all().order_by("create_time") %}
		{% if message.user_send == user %}
			<li class='message-item' data-unique-id='{{message.unique_id}}'>

				<div class='row page-normal'>
					<div class='pull-left bold'>
						You
					</div>
					<div class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</div>
				</div>
				<div class='row small-margin-top page-normal'>
					{{message.content}}
				</div>	


				<div class='row page-responsive'>
					<span class='pull-left bold'>
						You
					</span>
				</div>
				<div class='row small-margin-top page-responsive'>
					{{message.content}}
				</div>	
				<div class='row small-margin-top page-responsive'>
					<span class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</span>
				</div>

			</li>
		{% else %}
			<li class='message-item' data-unique-id='{{message.unique_id}}'>

				<div class='row page-normal'>
					<div class='pull-left bold'>
						{{message.user_send.userprofile.initial|initial}} (
						{{message.user_send.userprofile.credential.get_display_credential()}})
					</div>
					<div class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</div>
				</div>
				<div class='row small-margin-top page-normal'>
					{{message.content}}
				</div>	


				<div class='row page-responsive'>
					<span class='pull-left bold'>
						{{message.user_send.userprofile.initial|initial}} (
						{{message.user_send.userprofile.credential.get_display_credential()}})
					</span>
				</div>
				<div class='row small-margin-top page-responsive'>
					{{message.content}}
				</div>	
				<div class='row small-margin-top page-responsive'>
					<span class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</span>
				</div>

			</li>
		{% endif %}
	{% endfor %}
{% else %}
	{% for message in conversation.user2_messages.all().order_by("create_time") %}
		{% if message.user_send == user %}
			<li class='message-item' data-unique-id='{{message.unique_id}}'>

				<div class='row page-normal'>
					<div class='pull-left bold'>
						You
					</div>
					<div class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</div>
				</div>
				<div class='row small-margin-top page-normal'>
					{{message.content}}
				</div>	


				<div class='row page-responsive'>
					<span class='pull-left bold'>
						You
					</span>
				</div>
				<div class='row small-margin-top page-responsive'>
					{{message.content}}
				</div>	
				<div class='row small-margin-top page-responsive'>
					<span class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</span>
				</div>

			</li>
		{% else %}
			<li class='message-item' data-unique-id='{{message.unique_id}}'>

				<div class='row page-normal'>
					<div class='pull-left bold'>
						{{message.user_send.userprofile.initial|initial}} (
						{{message.user_send.userprofile.credential.get_display_credential()}})
					</div>
					<div class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</div>
				</div>
				<div class='row small-margin-top page-normal'>
					{{message.content}}
				</div>


				<div class='row page-responsive'>
					<span class='pull-left bold'>
						{{message.user_send.userprofile.initial|initial}} (
						{{message.user_send.userprofile.credential.get_display_credential()}})
					</span>
				</div>
				<div class='row small-margin-top page-responsive'>
					{{message.content}}
				</div>	
				<div class='row small-margin-top page-responsive'>
					<span class='pull-right'>
						{{message.create_time|display_elapse_time}}
					</span>
				</div>

			</li>
		{% endif %}
	{% endfor %}
{% endif %}