<div class="panel-heading row">
	<h3 class="panel-title pull-left">
		Account Info
	</h3>
</div>

<div class='panel-body'>
	<div class='row'>
		<label class='col-md-3 control-label'>Account Type:</label>
		<div class='col-md-9'>
			Verified Professional
		</div>
	</div>
	<div class='row'>
		<label class='col-md-3 control-label'>Company:</label>
		<div class='col-md-9'>
			{{user.userprofile.credential.company.name}}
		</div>
	</div>
	<div class='row'>
		<label class='col-md-3 control-label'>Occupation:</label>

		{% if user.userprofile.credential.credential_additional_info %}
			<div class='col-md-5'>
				<div class='row mini-margin-top'>
					{{user.userprofile.credential.credential_additional_info}}
				</div>
				<div class='row'>
					<div class='col-md-10 no-padding-left col-xs-8'>
    					<input type='text' id="occupation_input" class='form-control' />
    				</div>
    				<div class='col-md-2'>
    					<input type='button' id="update_occupation_btn" class='btn btn-sm btn-primary' value='Update' onclick='handleUpdateOccupation()'/>
    				</div>
				</div>
			</div>
		{% else %}
			<div class='col-md-3 col-xs-8'>
				<input type='text' id="occupation_input" class='form-control'/>
			</div>
			<div class='col-md-1'>
				<input type='button' id="update_occupation_btn" class='btn btn-sm btn-primary' value='Update' onclick='handleUpdateOccupation()'/>
			</div>
		{% endif %}
	</div>
	<div class='row'>
		<label class='col-md-3 control-label'>Display As:</label>
		<div class='col-md-9'>
			{{user.userprofile.credential.get_display_credential()}}
		</div>
	</div>
	<div class='row'>
		<label class='col-md-3 control-label'>Your Account Right:</label>
		<div class='col-md-9'>
			<ul>
				<li><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can view post if have permission</li>
				<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can message viewable post as {{user.userprofile.credential.get_display_credential()}}</li>
				<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can post</li>
			</ul>
		</div>
	</div>
</div>