<div class='row'>
	<div class='panel panel-default'>
		<div class='panel-heading row'>
			<h3 class='panel-title pull-left'>Settings</h3>
		</div>
		<div class='panel-body'>
			<div class='row'>
				<label class='col-md-3 control-label'>Email:</label>
				<div class='col-md-9'>
					{{user.email}}
				</div>
			</div>
			<div class='row'>
				<label class='col-md-3 control-label'>Password:</label>
				<div class='col-md-9' id="change_password_link">
					<a href='{{url("change_password")}}'>Change password</a>
				</div>
			</div>

			<div class='row'>
				<label class='col-md-3 control-label mini-margin-top'>Initial (2 character max):</label>
				<div class='col-md-4'>
					<input type='text' name='initial' id="initial_input" class='form-control' value='{{user.userprofile.initial}}' />
					<label id="initial_maxlength_error" class="error hidden" for="initial_input">Initial max length is 2</label>
					<label id="initial_empty_error" class="error hidden" for="initial_input">Initial field cannot be empty</label>
				</div>
			</div>

			<div class='row'>
				<label class='col-md-3 control-label mini-margin-top'>Preferred Email:</label>
				<div class='col-md-4'>
					{% if user.userprofile.preferred_email %}
						<div class='small-margin-bottom'>{{user.userprofile.preferred_email}}</div>
					{% endif %}
					<input type='text' name='preferred_email' id="preferred_email_input" class='form-control' />
					{% if not is_preferred_email_valid %}
						<label id="preferred_email_invalid_error" class="error" for="preferred_email_input">Invalid email</label>
					{% endif %}
				</div>
			</div>

			<div class='row small-margin-top'>
				<div class='col-md-3'></div>
				<div class='col-md-1'>
					<input type='button' id="update_settings_btn" class='btn btn-sm btn-primary' value='Update' onclick='updateSettingsHandler()'/>
				</div>
			</div>
		</div>
	</div>
</div>