{% extends app_base_template %}

{% block dashboard_content %}

	<div id="dashboard_account_credential" class='container large-margin-top large-margin-bottom'>

		<div class='col-md-3'>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Account Credential</h3>
				</div>
				<ul class="list-group" id="account_credential_list">
					{% if request.GET.section == 'connection_requests' %}
						<li class="list-group-item" data-value='account_info'>
							Acount Info
						</li>
		  				<li class="list-group-item active" data-value='connection_requests'>
		  					Connection Requests
		  				</li>
					{% else %}
						<li class="list-group-item active" data-value='account_info'>
							Acount Info
						</li>
		  				<li class="list-group-item" data-value='connection_requests'>
		  					Connection Requests
		  				</li>
	  				{% endif %}
				</ul>
			</div>
		</div>

		<div class='col-md-9'>
			{% if user.userprofile.credential.get_credential() == CREDENTIAL_PROFESSIONAL %}
	    		<div class="panel panel-default account-credential-content {% if request.GET.section == 'connection_requests' %} hidden {% endif %}" id="account_info_section">

	    			<div class="panel-heading row">
						<h3 class="panel-title pull-left">
							Account Info
						</h3>
					</div>

					<div class='panel-body'>
						<div class='row'>
		    				<label class='col-md-3 control-label'>Account Type:</label>
		    				<div class='col-md-9'>
		    					Verified Professional
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Company:</label>
		    				<div class='col-md-9'>
		    					{{user.userprofile.credential.company.name}}
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Occupation:</label>

		    				{% if user.userprofile.credential.credential_additional_info %}
								<div class='col-md-5'>
									<div class='row mini-margin-top'>
										{{user.userprofile.credential.credential_additional_info}}
									</div>
									<div class='row'>
										<div class='col-md-10 no-padding-left col-xs-8'>
					    					<input type='text' id="occupation_input" class='form-control' />
					    				</div>
					    				<div class='col-md-2'>
					    					<input type='button' id="update_occupation_btn" class='btn btn-sm btn-primary' value='Update' onclick='handleUpdateOccupation()'/>
					    				</div>
									</div>
								</div>
							{% else %}
								<div class='col-md-3 col-xs-8'>
									<input type='text' id="occupation_input" class='form-control'/>
								</div>
								<div class='col-md-1'>
									<input type='button' id="update_occupation_btn" class='btn btn-sm btn-primary' value='Update' onclick='handleUpdateOccupation()'/>
								</div>
							{% endif %}
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Display As:</label>
		    				<div class='col-md-9'>
		    					{{user.userprofile.credential.get_display_credential()}}
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Your Account Right:</label>
		    				<div class='col-md-9'>
		    					<ul>
		    						<li><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can view post if have permission</li>
		    						<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can message viewable post as {{user.userprofile.credential.get_display_credential()}}</li>
		    						<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can post</li>
		    					</ul>
		    				</div>
		    			</div>
					</div>
				</div>

				<div id="connection_requests_section" class="panel panel-default account-credential-content {% if request.GET.section != 'connection_requests' %} hidden {% endif %}">
					<div class="panel-heading row">
						<h3 class="panel-title pull-left">
							Connection Requests
						</h3>
					</div>
					<div class='panel-body'>
						<div class='row'>
							{% with pending_connection_requests=user.userprofile.get_pending_connection_requests() %}
							{% if pending_connection_requests %}
								<table class='table table-hover'>
						    		<thead>
						    			<tr>
								          	<th>From User</th>
								          	<th>Claimed Relationship</th>
								          	<th>Message</th>
								          	<th class='align-center'>Action</th>
								        </tr>	
						    		</thead>
						    		<tbody>
										{% for request in pending_connection_requests %}
											<tr>
												<td>{{request.request_user.email}}</td>
												<td>{{request.connection_relationship|title}}</td>
												<td>{{request.message}}</td>
												<td class='align-center'>
													<a class='small-margin-right' onclick='approveConnectionRequest("{{request.unique_id}}")'>Approve</a>
									          		<a onclick='rejectConnectionRequest("{{request.unique_id}}")'>Reject</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% else %}
								<h5 class='align-center medium-margin-top medium-margin-bottom'>You don't have any connection request</h5>
							{% endif %}
							{% endwith %}
						</div>
					</div>
				</div>
				
			{% elif user.userprofile.credential.get_credential() == CREDENTIAL_PROFESSIONAL_CONNECTION %}
				<div class="panel panel-default account-credential-content {% if request.GET.section == 'connection_requests' %} hidden {% endif %}" id="account_info_section">

	    			<div class="panel-heading row">
						<h3 class="panel-title pull-left">
							Account Info
						</h3>
					</div>

					<div class='panel-body'>
						<div class='row'>
		    				<label class='col-md-3 control-label'>Account Type:</label>
		    				<div class='col-md-9'>
		    					Verified Professional Connection 
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Connection With:</label>
		    				<div class='col-md-9'>
		    					{{user.userprofile.credential.connection.approve_user.email}}
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Connection Relationship:</label>
							<div class='col-md-9'>
		    					{{user.userprofile.credential.connection.connection_relationship|title}}
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Display As:</label>
		    				<div class='col-md-9'>
		    					{{user.userprofile.credential.get_display_credential()}}
		    				</div>
		    			</div>
		    			<div class='row'>
		    				<label class='col-md-3 control-label'>Your Account Right:</label>
		    				<div class='col-md-9'>
		    					<ul>
		    						<li><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can view post if have permission</li>
		    						<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can message viewable post as {{user.userprofile.credential.get_display_credential()}}</li>
		    						<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can post</li>
		    					</ul>
		    				</div>
		    			</div>
		    		</div>
	    		</div>

	    		<div id="connection_requests_section" class="panel panel-default account-credential-content {% if request.GET.section != 'connection_requests' %} hidden {% endif %}">
					<div class="panel-heading row">
						<h3 class="panel-title pull-left">
							Connection Requests
						</h3>
					</div>
					<div class='panel-body'>
						<div class='row'>
							<h5 class='align-center medium-margin-top medium-margin-bottom'>Your request already got aproved by {{user.userprofile.credential.connection.approve_user.email}} as {{user.userprofile.credential.connection.connection_relationship|title}}</h5>
						</div>
					</div>
				</div>

			{% else %}

				{% if user.userprofile.email_type == EMAIL_TYPE_COMPANY_PENDING %}
					<div class="panel panel-default account-credential-content {% if request.GET.section == 'connection_requests' %} hidden {% endif %}" id="account_info_section">

		    			<div class="panel-heading row">
							<h3 class="panel-title pull-left">
								Account Info
							</h3>
						</div>

						<div class='panel-body'>
							<div class='row'>
			    				<label class='col-md-3 control-label'>Account Type:</label>
			    				<div class='col-md-9'>
			    					Pending Professional
			    				</div>
			    			</div>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Company:</label>
			    				<div class='col-md-9'>
			    					{{user.userprofile.credential.company.name}}
			    				</div>
			    			</div>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Occupation:</label>

			    				{% if user.userprofile.credential.credential_additional_info %}
									<div class='col-md-5'>
										<div class='row mini-margin-top'>
											{{user.userprofile.credential.credential_additional_info}}
										</div>
										<div class='row'>
											<div class='col-md-10 no-padding-left col-xs-8'>
						    					<input type='text' id="occupation_input" class='form-control' />
						    				</div>
						    				<div class='col-md-2'>
						    					<input type='button' id="update_occupation_btn" class='btn btn-sm btn-primary' value='Update' onclick='handleUpdateOccupation()'/>
						    				</div>
										</div>
									</div>
								{% else %}
									<div class='col-md-3 col-xs-8'>
										<input type='text' id="occupation_input" class='form-control'/>
									</div>
									<div class='col-md-1'>
										<input type='button' id="update_occupation_btn" class='btn btn-sm btn-primary' value='Update' onclick='handleUpdateOccupation()'/>
									</div>
								{% endif %}
			    			</div>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Display As:</label>
			    				<div class='col-md-9'>
			    					{{user.userprofile.credential.get_display_credential()}}
			    				</div>
			    			</div>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Your Account Right:</label>
			    				<div class='col-md-9'>
			    					<ul>
			    						<li><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can view post if have permission</li>
			    						<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can message viewable post as Anonymous</li>
			    						<li class='mini-margin-top'><span class="glyphicon glyphicon-remove mini-margin-right" aria-hidden="true"></span>Not able to post</li>
			    						<li class='mini-margin-top'><span class='bold'>Suggest:</span> Your company is not in the system. We are working on verifying if your company is valid as soon as possible and will get back to you shortly. If you don't want to wait, you can request someone that you know to approve you.</li>
			    					</ul>
			    				</div>
			    			</div>
			    		</div>
			    	</div>

			    	<div id="connection_requests_section" class="panel panel-default account-credential-content {% if request.GET.section != 'connection_requests' %} hidden {% endif %}">
						<div class="panel-heading row">
							<h3 class="panel-title pull-left">
								Connection Requests
							</h3>
						</div>
						<div class='panel-body'>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Send connection request:</label>
			    				<div class='col-md-9'>

			    					<div class='row error hidden' id='connection_email_error_ineligible'>Connection user are not professional and cannot approve your request</div>
			    					<div class='row error hidden' id='connection_email_error_empty'>Connection email can not be empty</div>
			    					<div class='row error hidden' id='connection_email_error_invalid'>Connection email is not valid</div>

			    					<div class='row'>
										<input type='text' id="connection_email_input" class='form-control' placeholder='Email'/>
									</div>

									<div class='row error hidden' id='connection_relationship_error_empty'>Connection relationship cannot be empty</div>
									
									<div class='row'>
										<input type='text' id="connection_relationship_input" class='form-control' placeholder='Relationship'/>
									</div>
									<div class='row'>
										<textarea id='connection_request_message_input' class='form-control' placeholder='Message (Optional)' rows='5'></textarea>
									</div>
									<div class='row'>
										<input type='button' id="send_connection_request_btn" class='btn btn-sm btn-primary' value='Send' onclick='sendConnectionRequest()'/>
									</div>
			    				</div>
		    				</div>
		    			</div>
		    		</div>
				{% else %}	
					<div class="panel panel-default account-credential-content {% if request.GET.section == 'connection_requests' %} hidden {% endif %}" id="account_info_section">

		    			<div class="panel-heading row">
							<h3 class="panel-title pull-left">
								Account Info
							</h3>
						</div>

						<div class='panel-body'>
							<div class='row'>
			    				<label class='col-md-3 control-label'>Account Type:</label>
			    				<div class='col-md-9'>
			    					Unverified
			    				</div>
			    			</div>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Display As:</label>
			    				<div class='col-md-9'>
			    					{{user.userprofile.credential.get_display_credential()}}
			    				</div>
			    			</div>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Your Account Right:</label>
			    				<div class='col-md-9'>
			    					<ul>
			    						<li><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can view post if have permission</li>
			    						<li class='mini-margin-top'><span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Can message viewable post as Anonymous</li>
			    						<li class='mini-margin-top'><span class="glyphicon glyphicon-remove mini-margin-right" aria-hidden="true"></span>Not able to post</li>
			    						<li class='mini-margin-top'><span class='bold'>Suggest:</span> You can get approve from your connection professional to get your account verified by sending the connection request </li>
			    					</ul>
			    				</div>
			    			</div>
						</div>
					</div>


					<div id="connection_requests_section" class="panel panel-default account-credential-content {% if request.GET.section != 'connection_requests' %} hidden {% endif %}">

						<div class="panel-heading row">
							<h3 class="panel-title pull-left">
								Connection Requests
							</h3>
						</div>
						<div class='panel-body'>
			    			<div class='row'>
			    				<label class='col-md-3 control-label'>Send connection request:</label>
			    				<div class='col-md-9'>

			    					<div class='row error hidden' id='connection_email_error_ineligible'>Connection user are not professional and cannot approve your request</div>
			    					<div class='row error hidden' id='connection_email_error_empty'>Connection email can not be empty</div>
			    					<div class='row error hidden' id='connection_email_error_invalid'>Connection email is not valid</div>

			    					<div class='row'>
										<input type='text' id="connection_email_input" class='form-control' placeholder='Email'/>
									</div>

									<div class='row error hidden' id='connection_relationship_error_empty'>Connection relationship cannot be empty</div>
									
									<div class='row'>
										<input type='text' id="connection_relationship_input" class='form-control' placeholder='Relationship'/>
									</div>
									<div class='row'>
										<textarea id='connection_request_message_input' class='form-control' placeholder='Message (Optional)' rows='5'></textarea>
									</div>
									<div class='row'>
										<input type='button' id="send_connection_request_btn" class='btn btn-sm btn-primary' value='Send' onclick='sendConnectionRequest()'/>
									</div>
			    				</div>
			    			</div>
		    			</div>

		    		</div>
				{% endif %}

			{% endif %}
		</div>
	</div>
	    	
{% endblock %}
