{% extends app_base_template %}

{% block dashboard_content %}
	<div id="dashboard_message" class='container large-margin-top large-margin-bottom'>

		<div class='row'>
			<div class='panel panel-default'>
				<div class='panel-heading row page-normal'>
					<h3 class='panel-title pull-left messsage-title'>Message:</h3>
					<div class="small-margin-left pull-left message-options">
						{% if new_selling_messages_count > 0 and new_buying_messages_count == 0 %}
						  	<button type="button" class="btn btn-default pull-left" data-value='buying'>
						    	<div class='pull-left'>
						    		Item you want to buy
						    	</div>
						  	</button>
						  	<button type="button" class="active btn btn-default small-margin-left pull-left" data-value='selling' >
						    	<div class='pull-left'>
						    		Item you are selling
						    	</div>
						  	</button>
					  	{% else %}
					  		{% if request.GET.section == 'selling' %}
							  	<button type="button" class="btn btn-default pull-left" data-value='buying' >
							    	<div class='pull-left'>
							    		Item you want to buy
							    	</div>
							  	</button>
							  	<button type="button" class="active btn btn-default small-margin-left pull-left" data-value='selling'>
							    	<div class='pull-left'>
							    		Item you are selling
							    	</div>
							  	</button>
						  	{% else %}
						  		<button type="button" class="active btn btn-default pull-left" data-value='buying' >
							    	<div class='pull-left'>
							    		Item you want to buy
							    	</div>
							  	</button>
							  	<button type="button" class="btn btn-default small-margin-left pull-left" data-value='selling'>
							    	<div class='pull-left'>
							    		Item you are selling
							    	</div>
							  	</button>
							  {% endif %}
					  	{% endif %}
					</div>
				</div>
				<div class='panel-heading row page-responsive'>
					<div class='row'>
						<h3 class='panel-title pull-left messsage-title'>Message:</h3>
					</div>
					<div class='row small-margin-top message-options'>
						{% if new_selling_messages_count > 0 and new_buying_messages_count == 0 %}
						  	<button type="button" class="btn btn-default pull-left" data-value='buying'>
						    	<div class='align-center'>
						    		Item you buy
						    	</div>
						  	</button>
						  	<button type="button" class="active btn btn-default pull-right" data-value='selling' >
						    	<div class='align-center'>
						    		Item you sell
						    	</div>
						  	</button>
					  	{% else %}
					  		{% if request.GET.section == 'selling' %}
							  	<button type="button" class="btn btn-default pull-left" data-value='buying' >
							    	<div class='align-center'>
							    		Item you buy
							    	</div>
							  	</button>
							  	<button type="button" class="active btn btn-default pull-right" data-value='selling'>
							    	<div class='align-center'>
							    		Item you sell
							    	</div>
							  	</button>
						  	{% else %}
						  		<button type="button" class="active btn btn-default pull-left" data-value='buying' >
							    	<div class='align-center'>
							    		Item you buy
							    	</div>
							  	</button>
							  	<button type="button" class="btn btn-default pull-right" data-value='selling'>
							    	<div class='align-center'>
							    		Item you sell
							    	</div>
							  	</button>
							  {% endif %}
					  	{% endif %}
					</div>
				</div>
				<div class='panel-body'>

					{% if (new_selling_messages_count > 0 and new_buying_messages_count == 0) or request.GET.section == 'selling' %}
					<div id='dashboard_buying' class='post-conversation-content hidden'>
					{% else %}
					<div id='dashboard_buying' class='post-conversation-content'>
					{% endif %}

						{% with conversations=user.userprofile.get_buying_conversations() %}
						<div class='row medium-margin-top medium-margin-bottom'>

							{% if conversations %}
							<div class='col-md-3'>

								<div class="panel panel-default">
								  	<div class="panel-heading">
								  		<span class='bold medium-text'>Item You Want To Buy</span>
								  	</div>
								  	<ul class="list-group conversation-list">
								  		{% for conversation in conversations %}
								    		<li class="list-group-item conversation-item {% if loop.first %} first {% elif loop.last %} last {% endif %}" data-unique-id='{{conversation.unique_id}}'>{{conversation.post.title|title}}</li>
								    	{% endfor %}
								  	</ul>
								</div>

							</div>

							<div class='col-md-9'>
								<div class="panel panel-default">
								  	<div class="panel-heading row">
								  		<div class='col-md-9 col-xs-9 no-padding-left'>
								  			<span class='bold medium-text' id="buying_section_title">Messages</span>
								  		</div>	
								  		<div class='col-md-3 col-xs-3 no-padding-right hidden' id="buying_section_action">
									  		<a id="delete_buying_conversation_btn" class='pull-right' data-toggle='modal' data-target='#delete_conversation_modal' onclick="$('#delete_conversation_type').val('buying')">Delete</a>
									  		<a class='pull-right' data-toggle='modal' data-target='#report_conversation_modal' onclick='$("#report_conversation_unique_id").val($("#selected_buying_conversation_unique_id").val())'>Report</a>
								  		</div>
								  	</div>
								  	<div class="panel-body">
									  	<ul id="buying_post_message_history"></ul>
									  	<textarea id="buying_post_message_input" class='form-control'></textarea>
									  	<input type='hidden' id="selected_buying_conversation_unique_id" />
									  	<button id="send_buying_post_message_btn" class='btn btn-default btn-primary' disabled='disabled'>Send</button>
								  	</div>
								</div>
							</div>

							{% else %}
								<div class='align-center'>
									<h5>You have no message for item you want to buy</h5>
								</div>
							{% endif %}

						</div>
						{% endwith %}
					</div>

					{% if (new_selling_messages_count > 0 and new_buying_messages_count == 0) or request.GET.section == 'selling' %}
					<div id='dashboard_selling' class='post-conversation-content'>
					{% else %}
					<div id='dashboard_selling' class='post-conversation-content hidden'>
					{% endif %}
						{% with posts_conversations=user.userprofile.get_selling_posts_conversations() %}
						<div class='row medium-margin-top medium-margin-bottom'>

							{% if posts_conversations %}
							<div class='col-md-3'>

								<div class="panel panel-default">
								  	<div class="panel-heading">
								  		<span class='bold medium-text'>Item You Are Selling</span>
								  	</div>
								  	<ul class="list-group post-list">
								  		{% for post,conversations in posts_conversations.iteritems() %}
								    		<li class="list-group-item post-item" data-unique-id="{{post.unique_id}}" role="button" data-toggle="collapse" data-target="#post_{{post.unique_id}}_buyers" aria-expanded="false" aria-controls="post_{{post.unique_id}}_buyers">
								    				{{post.title|title}}
								    		</li>
								    		<div id="post_{{post.unique_id}}_buyers" class="panel panel-default panel-collapse collapse post-conversation-panel" role="tabpanel" data-unique-id="{{post.unique_id}}">
									      		<ul class='list-group post-conversation-list'>
										        	{% for conversation in conversations %}
										        		{% if conversation.user1 == user %}
										        			<li class='list-group-item post-conversation-item {% if loop.first %} first {% elif loop.last %} last {% endif %}' data-unique-id="{{conversation.unique_id}}">{{conversation.user2.userprofile.credential.get_display_credential()}}</li>
										        		{% else %}
										        			<li class='list-group-item post-conversation-item {% if loop.first %} first {% elif loop.last %} last {% endif %}' data-unique-id='{{conversation.unique_id}}'>{{conversation.user1.userprofile.credential.get_display_credential()}}</li>
										        		{% endif %}
										        	{% endfor %}
									        	</ul>
										    </div>
								    	{% endfor %}
								  	</ul>
								</div>
							</div>

							<div class='col-md-9'>
								<div class="panel panel-default">
								  	<div class="panel-heading row">
								  		<div class='col-md-9 col-xs-9 no-padding-left'>
								  			<span class='bold medium-text' id="selling_section_title">Messages</span>
								  		</div>
								  		<div class='col-md-3 col-xs-3 no-padding-right hidden' id="selling_section_action">
									  		<a id='delete_selling_conversation_btn' class='pull-right' data-toggle='modal' data-target='#delete_conversation_modal' onclick="$('#delete_conversation_type').val('selling')">Delete</a>
									  		<a class='pull-right' data-toggle='modal' data-target='#report_conversation_modal' onclick='$("#report_conversation_unique_id").val($("#selected_selling_conversation_unique_id").val())'>Report</a>
								  		</div>
								  	</div>
								  	<div class="panel-body">
								  		<ul id="selling_post_message_history"></ul>
									  	<textarea id="selling_post_message_input" class='form-control'></textarea>
									  	<input type='hidden' id="selected_selling_conversation_unique_id" value=""/>
									  	<button id="send_selling_post_message_btn" class='btn btn-default btn-primary' disabled='disabled'>Send</button>
								  	</div>
								</div>
							</div>	
							{% else %}
								<div class='align-center'>
									<h5>You have no message for item you are selling</h5>
								</div>
							{% endif %}
						</div>
						{% endwith %}
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block modal %}
	{% include ["sites/common/modal/delete_conversation" + TEMPLATE_FILE_EXTENSION] %}
	{% include ["sites/common/modal/report_conversation" + TEMPLATE_FILE_EXTENSION] %}
{% endblock %}
