{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">
	<div id="info_section" class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				{% if email %}
					<p> 
						We have sent you the link to reset your password at <b>{{email}}</b>. 
						<br/>
						Please click the link in the email to continue resetting your password
					</p>
				{% else %}
					<p> 
						We have sent you the link to reset your password. 
						<br/>
						Please click the link in the email to continue resetting your password
					</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}