{% extends base_template %}

{% block main_section %}
<div id="auth_section" class="container">
	<div id="password_reset_section" class='row'>
		<div class="panel panel-default">
			<div class="panel-heading align-center">
				Change your password
			</div>
			<div class="panel-body">
				<form id="password_reset_form" name="password_change_form" method="post" action="{{url('change_password')}}" class="form-horizontal">{% csrf_token %}
				  	<div class="form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.oldpassword.errors }}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.oldpassword.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.oldpassword}}
					    	</div>
				    	</div>
				  	</div>

				  	<div class="form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.password1.errors }}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.password1.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.password1}}
					    	</div>
				    	</div>
				  	</div>

				  	<div class="form-group">
				  		<div>
				  			<div class="col-sm-offset-4 col-sm-8 mini-margin-bottom">
				  				{{form.password2.errors }}
				  			</div>
				  		</div>
				  		<div>
					    	<label class="col-sm-4 control-label">{{form.password2.label}}</label>
					    	<div class="col-sm-8">
					      		{{form.password2}}
					    	</div>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-4 col-sm-8">
				      		<button type="submit" class="btn btn-sm btn-primary">Change Password</button>
				    	</div>
				  	</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}