
/**
 * ============
 * - Settings -
 * ============ 
 */

/**
 * - Settings: Variables -
 * =======================
 * @todo: variables								/variables.less
 */

/**
 * @done: variables								/variables.less
 */

/*
@screen-lg              : 1270px;
@container-large-desktop: 1270px;
@container-desktop      : 1024px;*/

/**
 * - Settings: Typography -
 * ========================
 */

/**
 * Text classes
 */

.text-transparent {
  color: transparent !important;
}

.text-white {
  color: #FFFFFF !important;
}

.text-black {
  color: #000000 !important;
}

.text-dove-gray {
  color: #636363 !important;
}

.text-fountain-blue {
  color: #58C4C7 !important;
}

.text-porsche {
  color: #E99D63 !important;
}

.text-ocean-green {
  color: #3DB883 !important;
}

.text-silver-chalice {
  color: #A5A5A5 !important;
}

.text-gray {
  color: #929292 !important;
}

.text-linen {
  color: #FCF2E9 !important;
}

.text-blue-chill {
  color: #0E8787 !important;
}

.text-indochine {
  color: #B06C00 !important;
}

.text-monza {
  color: #D60C0C !important;
}

.text-persian-red {
  color: #C63829 !important;
}

.text-cod-gray {
  color: #111111 !important;
}

.text-mine-shaft {
  color: #333333 !important;
}

.text-dusty-gray {
  color: #999999 !important;
}

.text-blaze-orange {
  color: #FF6602 !important;
}

.text-white-linen {
  color: #FBF7F2 !important;
}

.text-lochmara {
  color: #0388CD !important;
}

.text-polar {
  color: #F4F9FD !important;
}

.text-viking {
  color: #5CB6E2 !important;
}

.text-tory-blue {
  color: #105AA6 !important;
}

.text-concrete {
  color: #F3F3F3 !important;
}

.text-supernova {
  color: #FFCD0E !important;
}

.text-tree-poppy {
  color: #FB9B11 !important;
}

.text-kobi {
  color: #EB9FCF !important;
}

.text-cashmere {
  color: #E8C5A5 !important;
}

.text-comet {
  color: #565B70 !important;
}

.text-storm-gray {
  color: #666B7E !important;
}

.text-aluminium {
  color: #A7A9B2 !important;
}

.text-pomegranate {
  color: #F44336 !important;
}

.text-amber {
  color: #fec006 !important;
}

.text-mountain-meadow {
  color: #189688 !important;
}

.text-san-marino {
  color: #3E50B4 !important;
}

.text-amaranth {
  color: #E91D62 !important;
}

.text-orange {
  color: #FC5721 !important;
}

.text-roman-coffee {
  color: #795547 !important;
}

.text-pear {
  color: #CDDC39 !important;
}

.text-froly {
  color: #F06292 !important;
}

.text-lynch {
  color: #607D8B !important;
}

.text-denim {
  color: #1565C0 !important;
}

.text-apple {
  color: #43A047 !important;
}

.text-mystic {
  color: #e4eaee !important;
}

.text-saffron {
  color: #F8B93E !important;
}

.text-sushi {
  color: #7CB342 !important;
}

.text-jungle-green {
  color: #2BAFA4 !important;
}

.text-di-serria {
  color: #DDAA62 !important;
}

.text-eastern-blue {
  color: #23ABBB !important;
}

.text-fuchsia-pink {
  color: #CA64C2 !important;
}

.text-japonica {
  color: #D2845E !important;
}

.text-persian-pink {
  color: #F57AA5 !important;
}

.text-keppel {
  color: #3BB0A5 !important;
}

.text-carnation {
  color: #F87062 !important;
}

.text-blue-violet {
  color: #6170BC !important;
}

.text-robins-egg-blue {
  color: #00BDD2 !important;
}

.text-fern {
  color: #66BB6A !important;
}

.text-flame-pea {
  color: #E15744 !important;
}

.text-athens-gray {
  color: #EAECEF !important;
}

.text-silver {
  color: #CBCBCB !important;
}

.text-wild-sand {
  color: #F6F6F6 !important;
}

.text-alizarin-crimson {
  color: #EA281C !important;
}

.text-gallery {
  color: #EFEFEF !important;
}

.text-mercury {
  color: #E4E4E4 !important;
}

.text-woodsmoke {
  color: #0C0B0F !important;
}

.text-cinnabar {
  color: #E64A19 !important;
}

.text-alto {
  color: #E0E0E0 !important;
}

.text-corduroy {
  color: #646464 !important;
}

.text-sandy-brown {
  color: #ef9961 !important;
}

/**
 * Background classes
 */

.bg-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-dove-gray {
  background-color: #636363 !important;
}

.bg-fountain-blue {
  background-color: #58C4C7 !important;
}

.bg-porsche {
  background-color: #E99D63 !important;
}

.bg-ocean-green {
  background-color: #3DB883 !important;
}

.bg-silver-chalice {
  background-color: #A5A5A5 !important;
}

.bg-gray {
  background-color: #929292 !important;
}

.bg-linen {
  background-color: #FCF2E9 !important;
}

.bg-blue-chill {
  background-color: #0E8787 !important;
}

.bg-indochine {
  background-color: #B06C00 !important;
}

.bg-monza {
  background-color: #D60C0C !important;
}

.bg-persian-red {
  background-color: #C63829 !important;
}

.bg-cod-gray {
  background-color: #111111 !important;
}

.bg-mine-shaft {
  background-color: #333333 !important;
}

.bg-dusty-gray {
  background-color: #999999 !important;
}

.bg-blaze-orange {
  background-color: #FF6602 !important;
}

.bg-white-linen {
  background-color: #FBF7F2 !important;
}

.bg-lochmara {
  background-color: #0388CD !important;
}

.bg-polar {
  background-color: #F4F9FD !important;
}

.bg-viking {
  background-color: #5CB6E2 !important;
}

.bg-tory-blue {
  background-color: #105AA6 !important;
}

.bg-concrete {
  background-color: #F3F3F3 !important;
}

.bg-supernova {
  background-color: #FFCD0E !important;
}

.bg-tree-poppy {
  background-color: #FB9B11 !important;
}

.bg-kobi {
  background-color: #EB9FCF !important;
}

.bg-cashmere {
  background-color: #E8C5A5 !important;
}

.bg-comet {
  background-color: #565B70 !important;
}

.bg-storm-gray {
  background-color: #666B7E !important;
}

.bg-aluminium {
  background-color: #A7A9B2 !important;
}

.bg-pomegranate {
  background-color: #F44336 !important;
}

.bg-amber {
  background-color: #fec006 !important;
}

.bg-mountain-meadow {
  background-color: #189688 !important;
}

.bg-san-marino {
  background-color: #3E50B4 !important;
}

.bg-amaranth {
  background-color: #E91D62 !important;
}

.bg-orange {
  background-color: #FC5721 !important;
}

.bg-roman-coffee {
  background-color: #795547 !important;
}

.bg-pear {
  background-color: #CDDC39 !important;
}

.bg-froly {
  background-color: #F06292 !important;
}

.bg-lynch {
  background-color: #607D8B !important;
}

.bg-denim {
  background-color: #1565C0 !important;
}

.bg-apple {
  background-color: #43A047 !important;
}

.bg-mystic {
  background-color: #e4eaee !important;
}

.bg-saffron {
  background-color: #F8B93E !important;
}

.bg-sushi {
  background-color: #7CB342 !important;
}

.bg-jungle-green {
  background-color: #2BAFA4 !important;
}

.bg-di-serria {
  background-color: #DDAA62 !important;
}

.bg-eastern-blue {
  background-color: #23ABBB !important;
}

.bg-fuchsia-pink {
  background-color: #CA64C2 !important;
}

.bg-japonica {
  background-color: #D2845E !important;
}

.bg-persian-pink {
  background-color: #F57AA5 !important;
}

.bg-keppel {
  background-color: #3BB0A5 !important;
}

.bg-carnation {
  background-color: #F87062 !important;
}

.bg-blue-violet {
  background-color: #6170BC !important;
}

.bg-robins-egg-blue {
  background-color: #00BDD2 !important;
}

.bg-fern {
  background-color: #66BB6A !important;
}

.bg-flame-pea {
  background-color: #E15744 !important;
}

.bg-athens-gray {
  background-color: #EAECEF !important;
}

.bg-silver {
  background-color: #CBCBCB !important;
}

.bg-wild-sand {
  background-color: #F6F6F6 !important;
}

.bg-alizarin-crimson {
  background-color: #EA281C !important;
}

.bg-gallery {
  background-color: #EFEFEF !important;
}

.bg-mercury {
  background-color: #E4E4E4 !important;
}

.bg-woodsmoke {
  background-color: #0C0B0F !important;
}

.bg-cinnabar {
  background-color: #E64A19 !important;
}

.bg-alto {
  background-color: #E0E0E0 !important;
}

.bg-corduroy {
  background-color: #646464 !important;
}

.bg-sandy-brown {
  background-color: #ef9961 !important;
}

.color-alto {
  background: #E0E0E0;
}

.color-cinnabar {
  background: #E64A19;
}

.color-mercury {
  background: #E4E4E4;
}

/**
 * - Settings: Fonts -
 * ===================
 * @todo: fonts								/fonts.less
 */

/**
 * @done: fonts								/fonts.less
 */

@font-face {
  font-family: 'FuturaPT-Book';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/futura-pt-book.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/futura-pt-book.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/futura-pt-book.woff") format("woff"), url("../resources/fonts/futura-pt-book.ttf") format("truetype"), url("../resources/fonts/futura-pt-book.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/futura-pt-book-oblique.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/futura-pt-book-oblique.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/futura-pt-book-oblique.woff") format("woff"), url("../resources/fonts/futura-pt-book-oblique.ttf") format("truetype"), url("../resources/fonts/futura-pt-book-oblique.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/lato-regular-webfont.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/lato-regular-webfont.woff") format("woff"), url("../resources/fonts/lato-regular-webfont.ttf") format("truetype"), url("../resources/fonts/lato-regular-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/lato-medium-webfont.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/lato-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/lato-medium-webfont.woff") format("woff"), url("../resources/fonts/lato-medium-webfont.ttf") format("truetype"), url("../resources/fonts/lato-medium-webfont.svg#svgFontName") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/lato-bold-webfont.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/lato-bold-webfont.woff") format("woff"), url("../resources/fonts/lato-bold-webfont.ttf") format("truetype"), url("../resources/fonts/lato-bold-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/lato-light-webfont.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/lato-light-webfont.woff") format("woff"), url("../resources/fonts/lato-light-webfont.ttf") format("truetype"), url("../resources/fonts/lato-light-webfont.svg#svgFontName") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/lato-thin-webfont.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/lato-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/lato-thin-webfont.woff") format("woff"), url("../resources/fonts/lato-thin-webfont.ttf") format("truetype"), url("../resources/fonts/lato-thin-webfont.svg#svgFontName") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/HelveticaNeue.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/HelveticaNeue.woff") format("woff"), url("../resources/fonts/HelveticaNeue.ttf") format("truetype"), url("../resources/fonts/HelveticaNeue.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/HelveticaNeue-Italic.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/HelveticaNeue-Italic.woff") format("woff"), url("../resources/fonts/HelveticaNeue-Italic.ttf") format("truetype"), url("../resources/fonts/HelveticaNeue-Italic.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/HelveticaNeue-Medium.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/HelveticaNeue-Medium.woff") format("woff"), url("../resources/fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../resources/fonts/HelveticaNeue-Medium.svg#svgFontName") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  /* IE9 Compat Modes */
  src: url("../resources/fonts/HelveticaNeue-Bold.eot");
  /* Legacy iOS */
  src: url("../resources/fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/HelveticaNeue-Bold.woff") format("woff"), url("../resources/fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../resources/fonts/HelveticaNeue-Bold.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}


/**
 * - Settings: Typography -
 * ========================
 * @todo: typography								/typography.less
 */

/**
 * @done: typography								/typography.less
 */

.text-normal {
  font-weight: 400 !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-thin {
  font-weight: 200 !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-italic {
  font-style: italic !important;
}

.text-underline {
  text-decoration: underline;
}

/**
 * - Settings: Helpers -
 * =====================
 * @todo: helpers								/helpers.less
 */

/**
 * @done: helpers								/helpers.less
 */

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.center {
  margin: 0 auto;
}

a:focus,
a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}