{% extends base_template %}

{% block main_section %}
<div id="detail_post_section" class='container'>
	
	<div class='row pos-relative large-margin-top'>
		<div id="post_title_section" class='col-md-8'>
			<div class='row'>
				<h4>
					{{post.title}}
					{% if post.price %}
						- {{post.price}}
					{% endif %}
				</h4>
				
			</div>
			<div class='row'>
				<div class='pull-left'>
					<span class='medium-text'>From <span class='bold'>{{post.user_create.userprofile.credential.get_display_credential()}}</span> ({{post.location.city}}, {{post.location.state}} {{post.location.postal_code}})</span>
				</div>
				<div class='pull-right page-normal'>
					<span class='medium-text'>
					{% if post.last_edit_time %}
						Updated {{post.last_edit_time|display_elapse_time}}
					{% else %}
						{{post.create_time|display_elapse_time}}
					{% endif %}
					</span>
				</div>
				<div class='pull-left page-responsive'>
					<span class='medium-text'>
					{% if post.last_edit_time %}
						Updated {{post.last_edit_time|display_elapse_time}}
					{% else %}
						{{post.create_time|display_elapse_time}}
					{% endif %}
					</span>
				</div>
			</div>
		</div>

		<div id="post_button_section" class='col-md-4'>
			<div class="row">
				{% if user_login == post.user_create %}
					{% if post.post_status == "pending" %}
						<form action='/post/{{post.unique_id}}/publish' method='post'> {% csrf_token %}
							<div class="btn-group user-action">
								<button id="publish_btn" class="btn btn-primary" type='submit'>Publish</button>
								<a href='/post/{{post.unique_id}}/edit' class="btn btn-default">Edit</a>
							</div>
							<div class='expire-notice'>
								(Post expire after 30 days published)
							</div>
						</form>
					{% elif post.post_status == "sold" %}
						<div class="btn-group user-action">
							<a class="btn btn-success btn-success-no-hover default-cursor">
								<span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Sold
							</a>
						</div>
					{% elif post.post_status == "expired" %}
						<form action='/post/{{post.unique_id}}/repost' method='post'> {% csrf_token %}
							<div class="btn-group user-action">
								<button id="repost_btn" class="btn btn-primary" type='submit'>Repost</button>
								<a id='delete_post_btn' class="btn btn-default" data-toggle="modal" data-target="#delete_post_modal" onclick='$("#delete_post_form").attr("action","/post/{{post.unique_id}}/delete")'>Delete</a>
							</div>
						</form>
					{% elif post.post_status == "active" %}
						<div class="btn-group user-action">
							<button id="published_btn" type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  	<span class='mini-margin-right'>Published</span>
							  	<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
						    	<li><a id='sold_post_btn'>Mark As Sold</a></li>
						    	<li><a id='delete_post_btn' data-toggle="modal" data-target="#delete_post_modal" onclick='$("#delete_post_form").attr("action","/post/{{post.unique_id}}/delete")'>Delete Post</a></li>
						  	</ul>
							<a href='/post/{{post.unique_id}}/edit' class="btn btn-default">Edit</a>
							<a href="/user/dashboard/message?section=selling&post={{post.unique_id}}" class='btn btn-default'>View Message</a>
						</div>
					{% endif %}
				{% else %}
					{% if user_login %}
						{% if is_user_eligible_to_contact %}
							<div class="btn-group user-action">

							 	{% if is_already_contacted %}
									<a class="btn btn-primary" id="contact_post_btn" href='/user/dashboard/message?section=buying&conversation={{conversation.unique_id}}'>Contact</a>
								{% else %}
									<a class="btn btn-primary" id="contact_post_btn" data-toggle='modal' data-backdrop='static' href="#contact_post_modal">Contact</a>
								{% endif %}

								{% if is_watching_post %}
									<button class="btn btn-default" id="handle_watch_post_btn" data-value="watching">
										<span class="glyphicon glyphicon-ok mini-margin-right" aria-hidden="true"></span>Watching
									</button>
								{% else %}
									<button class="btn btn-default" id="handle_watch_post_btn" data-value="not_watching">
										Watch this ad
									</button>
								{% endif %}
								<a href='#report_post_modal' class='btn btn-default' id='report_post_btn' data-toggle='modal' data-backdrop='static'>Report</a>
							</div>
						{% else %}
							<div>
								<span>This ad is set to view-only for your account</span>
							</div>
						{% endif %}
					{% else %}
						<div>
							<span>Please <a href="/account/login?next=/post/{{post.unique_id}}">login</a> to contact the post owner</span>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row small-margin-top">
		<div class="col-md-8">
			{% if post.main_photo %}
				
				<div id="post_photo_section" class="panel panel-default">
					<div class="panel-body">
						<div class="row align-center">
							{% with main_photo=post.main_photo %}
								{% if main_photo.width > 600 %}
									<img class='lazy' id="post_display_photo" data-original='{{get_image_url(main_photo.unique_id,600,None,"fit")}}'/>
								{% else %}
									<img class='lazy' id="post_display_photo" data-original='{{get_image_url(main_photo.unique_id,None,350,"fit")}}' />
								{% endif %}
							{% endwith %}
						</div>
						<div class='row small-margin-top align-center'>
							{% for photo in post.get_total_photos() %}

									<img class='post-photo-thumbnail lazy' data-original='{{get_image_url(photo.unique_id,100,100,"fit")}}' width='50' height='50' data-unique-id='{{photo.unique_id}}'/>
									
									{% if photo.width > 600 %}
										<img class='post-photo-display-item hidden lazy' data-original='{{get_image_url(photo.unique_id,600,None,"fit")}}' data-unique-id='{{photo.unique_id}}'/>
									{% else %}
										<img class='post-photo-display-item hidden lazy' data-original='{{get_image_url(photo.unique_id,None,350,"fit")}}' data-unique-id='{{photo.unique_id}}'/>
									{% endif %}

							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}

			<div class='row extra-large-margin-bottom'>
				<div><h5>Description</h5></div>
				<div>
					{{post.content}}
				</div>
			</div>
				
		</div>
		<div class="col-md-4">
			<div id="post_place_section" class="panel panel-default">
				<div class="panel-heading row">
					<div class="panel-title pull-left">
						<i class="glyphicon glyphicon-map-marker"></i>
						Place
					</div>
					<div class='pull-right'>
						<a href='#' id='post_google_map_link' target='blank' class='small-margin-right'>google map</a>
						<a href='#' id='post_bing_map_link' target='blank'>bing map</a>
					</div>
				</div>
				<div class="panel-body">
					<div class='row'>
						<div id="detail_post_map_canvas"></div>
					</div>
					{% if post.housing_detail and post.housing_detail.address %}
						<div class='row small-margin-top'>
							<span class='medium-text' id="post_address">
							</span>
						</div>
					{% endif %}
				</div>
			</div>

			{% if post.is_have_additional_detail() %}
			<div id="post_additional_detail_section" class="panel panel-default">
				<div class="panel-body">
					<div class='row'>
						{% if post.auto_detail %}

							{% for key,value in post.auto_detail.get_value_fields().iteritems() %}
								<div class='pull-left additional-detail-item small-margin-right'>
									<span class='key-item'>{{key}}:</span>
									<span class='value-item'>{{value}}</span>
								</div>
							{% endfor %}

						{% elif post.housing_detail %}

							{% for key,value in post.housing_detail.get_value_fields().iteritems() %}
								<div class='pull-left additional-detail-item small-margin-right'>
									<span class='key-item'>{{key}}:</span>
									<span class='value-item'>{{value}}</span>
								</div>
							{% endfor %}

						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>


</div>
{% endblock %}

{% block modal %}
	{% if user_login == post.user_create %}
		{% include ["sites/apps/post/modal/delete_post" + TEMPLATE_FILE_EXTENSION] ignore missing %}
		{% include ["sites/apps/post/modal/complete_post" + TEMPLATE_FILE_EXTENSION] ignore missing %}
	{% else %}
		{% include ["sites/apps/post/modal/contact_post" + TEMPLATE_FILE_EXTENSION] ignore missing %}
		{% include ["sites/apps/post/modal/report_post" + TEMPLATE_FILE_EXTENSION] ignore missing %}
	{% endif %}

	{% include ["sites/apps/post/modal/transaction_feedback" + TEMPLATE_FILE_EXTENSION] ignore missing %}

{% endblock %}

{% block hidden %}

	<input type='hidden' id='post_postal_code' value='{{post.location.postal_code}}'/>
	<input type="hidden" id="post_unique_id" value="{{post.unique_id}}"/>
	<input type='hidden' id='post_user_create_username' value="{{post.user_create.username}}"/>

	{% if post.housing_detail %}
		<input type='hidden' id='post_housing_detail_address' value='{{post.housing_detail.address}}'/>
	{% endif %}

{% endblock %}
