{% extends base_template %}

{% block main_section %}
<div id="sold_post_section" class='container'>
	<div class='align-center'>
		<h4>Sorry, but you are late. This item has been sold :(</h4>
	</div>
</div>
{% endblock %}


